.advantages
    padding-top: 57px
    min-height: 590px
    background-color: #f3f3f3
    &__wrapper
        align-items: center
        margin-top: 31px
    
        display: flex
        flex-wrap: wrap

    &__item
        margin-top: 35px
        margin-right: 50px
        
        width: 45%
        display: flex
        justify-content: space-between
        align-items: flex-start

    &__icon
        display: block
        
        width: 60px
    &__descr
        display: flex
        flex-direction: column
        
        margin-left: 20px
        max-width: 445px

    &__subheader
        font-size: 16px
        font-weight: bold
        color: #ec644b

    &__text
        
        font-size: 14px
        font-weight: 300
        font-stretch: normal
        font-style: normal
        line-height: 1.57
        letter-spacing: normal
        text-align: left
        color: #3a3a3a






