.contacts
    //
    
    width: 30%
    //
    display: flex
    align-items: center

    &__wrapper
        margin-right: 16px
        width: 50%
        

        
    &__tel
        display: block
        margin-left: auto
        font-size: 19px
        font-weight: bold
        color: #ffffff
        line-height: 1.26
        text-decoration: none
        text-align: right
        &:hover
            color: #ec644b
        
    &__ask
  
        font-size: 14px
        font-weight: 300
        color: #ffffff
        line-height: 1.71
        text-align: right

    &


